export(describe.blogit)
export(describe.bprobit)
export(param.blogit)
export(param.bprobit)
export(zelig2blogit)
export(zelig2bprobit)
importFrom(Zelig,describe)
importFrom(Zelig,param)
importFrom(Zelig,qi)
S3method(coef,zelig)
S3method(describe,blogit)
S3method(describe,bprobit)
S3method(param,blogit)
S3method(param,bprobit)
S3method(plot,sim.blogit)
S3method(plot,sim.bprobit)
S3method(plot,zelig)
S3method(qi,blogit)
S3method(qi,bprobit)
S3method(vcov,zelig)
