S3method(describe, blogit)
export(describe.blogit)
S3method(describe, bprobit)
export(describe.bprobit)
S3method(param, blogit)
export(param.blogit)
S3method(param, bprobit)
export(param.bprobit)
S3method(plot, sim.blogit)
S3method(plot, sim.bprobit)
S3method(qi, blogit)
S3method(qi, bprobit)
export(zelig2blogit)
export(zelig2bprobit)
importFrom(Zelig, describe, param, qi)
