export(describe.blogit)
export(describe.bprobit)
export(describe.mlogit)
export(zelig2blogit)
export(zelig2bprobit)
export(zelig2mlogit)
export(zelig2ologit)
export(zelig2oprobit)
importFrom(Zelig,describe)
importFrom(Zelig,param)
importFrom(Zelig,qi)
S3method(coef,zelig)
S3method(describe,blogit)
S3method(describe,bprobit)
S3method(describe,mlogit)
S3method(describe,ologit)
S3method(describe,oprobit)
S3method(param,blogit)
S3method(param,bprobit)
S3method(param,mlogit)
S3method(param,ologit)
S3method(param,oprobit)
S3method(plot,sim.blogit)
S3method(plot,sim.bprobit)
S3method(plot,sim.ologit)
S3method(plot,sim.oprobit)
S3method(plot,zelig)
S3method(qi,blogit)
S3method(qi,bprobit)
S3method(qi,mlogit)
S3method(qi,ologit)
S3method(qi,oprobit)
S3method(vcov,zelig)
